# Database Configuration
POSTGRES_DB=bwf_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRATION_MS=86400000

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Client Configuration
NEXT_PUBLIC_API_PREFIX=/api/v1
NEXT_PUBLIC_API_SIGN_UP_ENDPOINT=/auth/public/signup
NEXT_PUBLIC_API_SIGN_IN_ENDPOINT=/auth/public/signin
NEXT_PUBLIC_GET_ALL_EXERCISES_ENDPOINT=/exercises
NEXT_PUBLIC_SERVER_URL=http://bwf-server:8080
NEXT_PUBLIC_ENABLE_API_CONNECTION=true
