# Database Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=rr_log_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRATION_MS=86400000

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=rr-log-kafka:29092

# Client Configuration
NEXT_PUBLIC_API_PREFIX=/api/v1
NEXT_PUBLIC_API_SIGN_UP_ENDPOINT=/auth/public/signup
NEXT_PUBLIC_API_SIGN_IN_ENDPOINT=/auth/public/signin
NEXT_PUBLIC_GET_ALL_EXERCISES_ENDPOINT=/exercises
NEXT_PUBLIC_SERVER_URL=http://rr-log-server:8080
NEXT_PUBLIC_ENABLE_API_CONNECTION=true
